@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000032}}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
figcaption,
figure,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000033}}
body,
button,
input,
select,
textarea {
  font: 12px/1 Lucida Grande, 'Microsoft YaHei', "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000034}}
h1 {
  font-size: 18px;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000035}}
h2 {
  font-size: 16px;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000036}}
h3 {
  font-size: 14px;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000037}}
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000038}}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\000039}}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000310}}
small {
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000311}}
ul,
ol,
li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000312}}
a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000313}}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000314}}
q:before,
q:after {
  content: '';
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000315}}
legend {
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000316}}
fieldset,
img {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000317}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000318}}
hr {
  border: 0;
  height: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000319}}
* {
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000320}}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000328}}
html,
body {
  position: relative;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000334}}
.header-box {
  width: 100%;
  height: 6rem;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000340}}
.header-box .ss {
  width: 100%;
  height: 1.06666667rem;
  z-index: 1000;
  position: absolute;
  top: 2.32rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000348}}
.header-box .ss input {
  width: 5.90666667rem;
  height: 1.06666667rem;
  position: relative;
  text-indent: 11%;
  line-height: 1.06666667rem;
  border: 0;
  outline: none;
  margin-left: 0rem;
  border-radius: 0 0.26666667rem 0.26666667rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000369}}
.header-box .ss h1 {
  width: 1.85333333rem;
  height: 1.06666667rem;
  text-align: center;
  line-height: 1.06666667rem;
  background: #fff;
  color: #333333;
  margin-left: 0.96rem;
  float: left;
  border-radius: 0.26666667rem 0 0 0.26666667rem;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000382}}
.header-box .ss b {
  width: 1%;
  height: 1.06666667rem;
  float: left;
  display: block;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\0000390}}
.header-box .ss b::before {
  content: '';
  position: relative;
  top: 0.13333333rem;
  width: 0.06666667rem;
  height: 0.8rem;
  float: left;
  display: block;
  background: #dcdcdc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003100}}
.header-box .ss span {
  width: 0.41333333rem;
  height: 0.41333333rem;
  display: block;
  position: absolute;
  top: 0.37333333rem;
  left: 3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003107}}
.header-box .ss span img {
  width: 0.41333333rem;
  height: 0.41333333rem;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003116}}
.header-box .swiper-pagination-bullet {
  width: 0.18666667rem;
  height: 0.18666667rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003120}}
.header-box .swiper-pagination-bullet-active {
  opacity: 1;
  background: #b8123e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003124}}
.header-box .swiper-container {
  width: 100%;
  height: 6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003127}}
.header-box .swiper-container .swiper-slide {
  width: 100%;
  height: 6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003130}}
.header-box .swiper-container .swiper-slide img {
  width: 100%;
  height: 6rem;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003138}}
.classification {
  width: 100%;
  height: 2.93333333rem;
  background: #fff;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003143}}
.classification ul {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 0.46666667rem;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003150}}
.classification ul li {
  width: 1.66666667rem;
  height: 1.84rem;
  float: left;
  margin-left: 0.64rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003156}}
.classification ul li img {
  width: 1.4rem;
  height: 1.4rem;
  background-size: 100% 100%;
  margin-left: 0.13333333rem;
  display: block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003164}}
.classification ul li b {
  display: block;
  width: 100%;
  height: 0.33333333rem;
  line-height: 0.29333333rem;
  float: left;
  text-align: center;
  font-size: 0.34666667rem;
  color: #333333;
  margin-top: 0.13333333rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003179}}
.Cultural {
  width: 100%;
  height: 9.06666667rem;
  background: #fff;
  margin-top: 0.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003184}}
.Cultural .CulturalA {
  width: 100%;
  height: 1rem;
  border-top: 0.01333333rem solid #dcdcdc;
  border-bottom: 0.01333333rem solid #dcdcdc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003189}}
.Cultural .CulturalA h1 {
  width: 1.50666667rem;
  height: 0.33333333rem;
  font-size: 0.37333333rem;
  color: #333333;
  display: block;
  float: left;
  margin-top: 0.33333333rem;
  margin-left: 0.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003199}}
.Cultural .CulturalA b {
  width: 0.2rem;
  height: 0.33333333rem;
  margin-top: 0.33333333rem;
  margin-right: 0.4rem;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003205}}
.Cultural .CulturalA b img {
  width: 0.2rem;
  height: 0.33333333rem;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003212}}
.Cultural .CulturalB {
  width: 8.8rem;
  height: 2.70666667rem;
  margin-left: 0.53333333rem;
  border-bottom: 0.01333333rem solid #dcdcdc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003218}}
.Cultural .CulturalB img {
  width: 2.18666667rem;
  height: 2.18666667rem;
  display: block;
  background-size: 100% 100%;
  float: left;
  margin-left: 0.24rem;
  margin-top: 0.26666667rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003227}}
.Cultural .CulturalB a {
  width: 60%;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  float: left;
  display: block;
  font-size: 0.45333333rem;
  color: #333333;
  margin-left: 0.61333333rem;
  margin-top: 0.37333333rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003240}}
.Cultural .CulturalB p {
  width: 0.93333333rem;
  height: 0.4rem;
  font-size: 0.26666667rem;
  border: 0.01333333rem solid #b8123e;
  line-height: 0.4rem;
  margin-left: 0.61333333rem;
  margin-top: 0.13333333rem;
  color: #b8123e;
  text-align: center;
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003253}}
.Cultural .CulturalB .text {
  width: 70%;
  height: 0.30666667rem;
  margin-top: 0.13333333rem;
  display: block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003260}}
.Cultural .CulturalB .text h2 {
  width: 50%;
  height: 0.30666667rem;
  margin-left: 0.61333333rem;
  font-size: 0.32rem;
  float: left;
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003268}}
.Cultural .CulturalB .text h3 {
  width: 40%;
  height: 0.30666667rem;
  font-size: 0.32rem;
  color: #666666;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003277}}
.Cultural .CulturalB .textA {
  width: 70%;
  height: 0.30666667rem;
  margin-top: 0.13333333rem;
  display: block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003284}}
.Cultural .CulturalB .textA h4 {
  width: 50%;
  height: 0.30666667rem;
  display: block;
  margin-left: 0.61333333rem;
  font-size: 0.32rem;
  float: left;
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/73144\/Desktop\/education\/css\/homepage\.less}line{font-family:\00003293}}
.Cultural .CulturalB .textA h5 {
  width: 40%;
  height: 0.30666667rem;
  font-size: 0.32rem;
  color: #666666;
  float: right;
}
